<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.drone.mesh">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.bluetooth_le" />

    <application
        android:name=".AppGlobal"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
             Service to handle BLE Advertising - Using a service allows advertising to continue
             when the app is no longer on screen in a reliable manner.
        -->
        <service
            android:name=".advertiser.AdvertiserService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ConnectionActivity" />
        <activity android:name=".init.InitActivity"></activity>
    </application>

</manifest>